    //TAG SELECTORS
    *{
        box-sizing: border-box; 
    }

    body{
        margin: 0;
        padding: 0;
    }

    section{
        display: flex;
    }

    a{
        :-webkit-any-link{
            cursor: pointer;
            background: transparent;
        }
        :link,
        :visited,
        :active {
            text-decoration:none;
            color: @test_darkgray;
        }
    }

    p{
        width: 25%;
        max-width: 150px;
    }

    nav,header{
        margin:0 0 0 0.5%;
    }

    //CLASSES SELECTORS
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 50px 5%; 

        //Media Queries
        //Movil
        @media (max-width: 767px) {

            & {
                grid-template-columns: 1fr;
            
            }
        }
        //Tablet
        @media (min-width: 768px) and (max-width: 1023px) {

            & {
                grid-template-columns: 1fr 1fr;
            
            }
        }
    }

    .autosize{
        max-width: 1920px;
        margin: auto;
    }

    .min-autosize{
        max-width: 1300px;
        margin: auto;
    }

    .btn {
        display: block;
        padding: 0 20px;
        height: 40px;
        line-height: 40px;
        color: #fff;
        font-size: 12px;
        font-weight: 700;
        font-family: 'Open Sans';
        background-color: #009DAA;
        cursor: pointer;
        z-index: 999;
        border-radius: 5px;
        text-align: center;
        max-width: 200px;
        margin-bottom: 5px;
    }

    .content_wrapper{
        > p{
            width:90%;
            max-width:100%;
        }
    }

    .card{
        flex-direction: column;
        margin: 2%;
        .card__img{
            width: 100%;
            height: 100%;
            display:block;
        }
        .card__info-text{
            color: @test_darkgray;
        }
        .card__price{
            color: @test_blue;
            font-weight: 700;
            font-size: 17px;
            line-height: 30px;
        }
        .card__peb{
            position: absolute;
            top: 15px;
            left: 5px;
            > img{
                width: 100%;
                height: 20px;
                display: block;
                }
        }
        .card__status{
            position: absolute;
            top:15px;
            right: 10px;
            padding: 5px;
            color: #fff;
            background-color: #009DAA
        }
        .card__details{
            position: absolute;
            margin: 0 0 5% 2%;
            bottom: -35px;
            width: 100%;
            height: 20%;
            z-index: 9;
        }
        .card__detail-location{
            position: relative;
            bottom: -30px;
            left:0px;
            z-index: 10;
            color: #fff;
        }
        .card__detail-media{
            position: absolute;
            display:inline-flex;
            bottom: -5px;
            right:8% ;
            z-index: 10;
            color: #fff;
            > span{
                display:inline-flex;
                gap:5%;
            }
        }
        .card__head{
            height:50%;
            position: relative;
            background-color: #fff;
        }
        .card__body{
            height:40%;
            background-color: #fff;
            margin: 3% 0 0 2%;
            > h2{
                color: @test_darkgray;
                font-family:'Open Sans';
            }
        }
        .card__footer {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .card__extra-inmo-logo{
        position: relative;
        margin: 5px 5px;
        left: 10px;
        }
        .card__extra-details{
        display: flex;
        align-items: end;
        height: 20px;
        margin-left: 82px;
        }
        .card__extra-details-info{
        display: flex;
        align-items: flex-end;
        height: 20px;    
        padding-right: 10px;
            > p{
                width:max-content;
                margin:0 0 0 0;
            }
        }
        .card__extra-svg{
        height:-webkit-fill-available;
        padding-right: 5px;
        }
        .card__extra-inmo-logo{
            > img{
            height: 40px;
            }
        }
    }

    
    