* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
  }

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.5
}

@media screen and (max-width: 400px) {
    h2 {
        font-size:28px;
        text-align: center
    }
}

.min-autosize {
    max-width: 1380px;
    margin: 0 auto
}

@media screen and (max-width: 1400px) {
    .min-autosize {
        padding-left:40px;
        padding-right: 40px
    }
}

@media screen and (max-width: 600px) {
    .min-autosize {
        padding-left:20px;
        padding-right: 20px
    }
}

.card__item-body {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    width: 100%;
    padding: 0;
    margin: 0
}

.card__item-body div:first-child {
    margin: 0 0 0 3px
}

.card__item-body--action {
    position: relative;
    top: 20px;
    right: 20px;
    background-color: #009DAA;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    color: #fff;
    padding: 5 15px;
    float: right
}

.card__item-body--span {
    margin-left: 5px;
    margin-right: 5px;
}

.container {
    padding-top: 120px
}

.card {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2%;
    grid-row-gap: 40px
}

.card--list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr
}

.card__wrapper {
    position: relative;
    min-height: 1px;
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 30px;
    border-radius: 2px
}

.card__wrapper--list {
    width: 100%;
    min-height: 250px
}

.card__wrapper--list:nth-child(3n+2) {
    margin-left: 0;
    margin-right: 0
}

.card__item {
    position: relative;
    bottom: 0;
    height: 100%;
    border: 1px solid #f1f8ff;
    font-size: 14px;
    font-weight: 600;
    background-color: #fff;
    width: 100%;
    float: left;
    -webkit-box-shadow: 0 10px 31px 0 #DDD;
    box-shadow: 0 10px 31px 0 #DDD;
    border-radius: 2px;
    -webkit-transition: bottom 0.4s, -webkit-box-shadow 0.4s;
    transition: bottom 0.4s, -webkit-box-shadow 0.4s;
    -o-transition: bottom 0.4s, box-shadow 0.4s;
    transition: bottom 0.4s, box-shadow 0.4s;
    transition: bottom 0.4s, box-shadow 0.4s, -webkit-box-shadow 0.4s
}

.card__item a {
    color: #75787A;
    text-decoration: none;
    padding-bottom: 3px;
    font-weight: 300
}

.card__item a:hover {
    color: #030505
}

.card__item--list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 65%;
    grid-template-columns: 1fr 65%
}

.card__item:hover {
    -webkit-box-shadow: 0 10px 31px 0 #999;
    box-shadow: 0 10px 31px 0 #999
}

.card__item--head {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    will-change: transform
}

.card__item--head-img {
    display: block;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.6s;
    transition: -webkit-transform 0.6s;
    -o-transition: transform 0.6s;
    transition: transform 0.6s;
    transition: transform 0.6s, -webkit-transform 0.6s
}

.card__item--head:hover span span img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2)
}

.card__peb-wrapper {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10
}

.card__peb-wrapper--img {
    width: 70px;
    height: auto
}

.card__item-footer {
    padding: 20px 20px 0
}

.card__item-footer--list {
    float: left;
    width: 65%
}

.card__item-footer-subtitle-link {
    font-size: 20px;
    color: #75787A;
    margin: 0 0 5px
}

.card__item-footer-subtitle-link span {
    margin-left: 3px;
    text-transform: lowercase
}

.card__item-footer-price {
    padding: 0;
    margin: 10px 0;
    position: relative;
    color: #00a1dd;
    font-size: 17px;
    line-height: 30px;
    font-weight: 700
}

.card__item-footer-texts {
    overflow: hidden;
    font-size: 13px;
    font-weight: 300;
    color: #75787A;
    line-height: 18px;
    padding: 0;
    margin: 10px 0;
    width: 100%
}

.card__contact-share-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: auto;
    height: auto;
    border-top: 1px solid #ddd;
    font-size: 13px;
    margin: 0 auto;
    padding: 13px 0;
    color: #8593a9;
    line-height: 16px
}

.card__agent-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 5px
}

.card__agent-area img {
    width: 30px;
    height: 40px;
    border-radius: 50%
}

.card__item-footer-numeric-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    position: relative;
    color: #333;
    width: auto;
    padding: 0;
    margin: 0;
    font-weight: 300
}

.card__item-footer-rooms {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    background-repeat: no-repeat;
    background-position: 0 -1px;
    margin-right: 12px;
    color: #5c727d;
    font-size: 16px
}

.card__item-footer-rooms svg {
    position: relative;
    top: 1px;
    fill: #5c727d;
    width: 25px;
    margin-right: 4px
}

.card__item-footer-bath {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    background-repeat: no-repeat;
    background-position: -63px -1px;
    margin-right: 12px;
    color: #5c727d;
    font-size: 16px
}

.card__item-footer-bath svg {
    fill: #5c727d;
    width: 20px;
    margin-right: 4px
}

.card__item-footer-size {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    background-repeat: no-repeat;
    background-position: -127px 0;
    margin-right: 5px;
    color: #5c727d;
    font-size: 16px
}

.card__item-footer-size svg {
    position: relative;
    bottom: 1px;
    fill: #5c727d;
    width: 20px;
    margin-right: 4px
}

.card__item-footer-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    background-repeat: no-repeat;
    background-position: -127px 0;
    margin-right: 5px;
    color: #5c727d;
    font-size: 16px
}

.card__item-footer-area svg {
    position: relative;
    bottom: 0;
    fill: #5c727d;
    width: 20px;
    margin-right: 4px
}

.card__item-details {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    pointer-events: none
}

.card__item-media {
    position: absolute;
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    bottom: 8px;
    right: 20px;
    z-index: 10;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5)
}

.card__item-location {
    position: absolute;
    font-size: 13px;
    font-weight: 400;
    bottom: 0;
    left: 10px;
    padding: 10px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    color: #fff;
    z-index: 10
}

@media screen and (min-width: 701px) and (max-width:1200px) {
    .card {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr
    }

    .card__wrapper {
        position: relative;
        min-height: 1px;
        padding-right: 0;
        padding-left: 0;
        margin-bottom: 30px;
        border-radius: 2px
    }
}

@media screen and (max-width: 775px) {
    .card__item-footer-numeric-details {
        -ms-flex-wrap:wrap;
        flex-wrap: wrap
    }
}

@media screen and (max-width: 700px) {
    .container {
        display:block
    }

    .card {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 100%;
        grid-template-columns: 100%
    }

    .card__wrapper {
        position: relative;
        min-height: 1px;
        padding-right: 0;
        padding-left: 0;
        margin-bottom: 30px;
        border-radius: 2px;
        width: 100%;
        float: none
    }

    .card__wrapper:nth-child(3n+2) {
        margin-left: 0;
        margin-right: 0
    }

    .card__wrapper:nth-child(odd) {
        margin-right: 0
    }

    .card__item {
        margin-bottom: 30px
    }

    .card__item:hover {
        bottom: 0;
        -webkit-box-shadow: 0 10px 31px 0 #ddd;
        box-shadow: 0 10px 31px 0 #ddd
    }

    .card__item-footer--list {
        float: none;
        width: 100%
    }

    .card__contact-share-area--list {
        width: 100%;
        position: relative;
        bottom: 0
    }
}

@media screen and (max-width: 400px) {
    .container {
        padding-top:20px
    }
}
