@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap);
a :-webkit-any-link {
  cursor: pointer;
  background: transparent;
}
a :link,
a :visited,
a :active {
  text-decoration: none;
  color: darkgray;
}
.card {
  flex-direction: column;
  margin: 5% 10%;
  height: 90%;
  width: 350px;
  border-radius: 2px;
}
.card .card__img {
  width: 350px;
  height: 100%;
}
.card .card__info-text {
  color: darkgray;
}
.card .card__price {
  color: #00a1dd;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
}
.card .card__peb {
  position: absolute;
  top: 15px;
  left: 5px;
}
.card .card__peb > img {
  width: 80px;
  height: 20px;
}
.card .card__status {
  position: absolute;
  top: 15px;
  right: 10px;
  padding: 5px;
  color: #fff;
  background-color: #009DAA;
}
.card .card__details {
  position: absolute;
  margin: 10px;
  bottom: 5px;
  width: 100%;
  height: 20%;
  z-index: 9;
}
.card .card__detail-location {
  position: relative;
  bottom: -30px;
  left: 0px;
  z-index: 10;
  color: #fff;
}
.card .card__detail-media {
  position: relative;
  bottom: -15px;
  right: -295px;
  z-index: 10;
  color: #fff;
}
.card .card__head {
  height: 50%;
  position: relative;
  background-color: #fff;
}
.card .card__body {
  height: 40%;
  background-color: #fff;
  margin-left: 5%;
  margin-bottom: 7%;
}
.card .card__body > h2 {
  color: darkgray;
  font-family: 'Open Sans';
}
.card .card__footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card .card__extra-inmo-logo {
  position: relative;
  margin: 5px 5px;
  left: 10px;
}
.card .card__extra-details {
  display: flex;
  align-items: end;
  height: 20px;
  margin-left: 82px;
}
.card .card__extra-details-info {
  display: flex;
  align-items: flex-end;
  height: 20px;
  padding-right: 10px;
}
.card .card__extra-svg {
  height: -webkit-fill-available;
  padding-right: 5px;
}
.card .card__extra-inmo-logo > img {
  height: 40px;
}

